.App {
  text-align: center;
  width: auto;
}

.restartGame{
  align-self: center;
  background-color: #000;
  color: #fff;
  width: 20%;
  height: 30px;
  font-size: 1rem;
  font-weight: bold;
  border: 0px;
  margin-top: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .restartGame {
      font-size: 17px;
      width: 73%;
  }
}

@media screen and (max-width: 350px) {
  .restartGame {
      font-size: 17px;
      width: 85%;
  }
}
